* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 700;
}
 
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--black);
    margin-top: 30rem;
    padding-bottom: 7.5rem;
} 
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

} 
.frame47 {
    border-radius: 1.25rem;
    background: var(--gray);
    display: flex;
    width: 75rem;
    height: 55rem;
    padding: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
} 
.frame47-title {
    color: var(--EKKSL-green3);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.frame47-title h1 {
    color: var(--EKKSL-green3);
}  
.frame47-text {
    color: var(--about-text);
    position: relative;
    width: 50%;
    font-family: Montserrat;
    font-size: 1.48881rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 167.917% */
    letter-spacing: 0.01488rem;
}
.frame47-text-green{
    color: var(--EKKSL-green3); 
    font-family: Montserrat;
    font-size: 1.48881rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 167.917% */
    letter-spacing: 0.01488rem;
}
.frame47-logo {
    position: relative;
    scale: 1;
    left: 25rem;
    top: -36rem;
} 
.frame49 {
    background: var(--black);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}
.frame49-1:hover{
    transform: translateY(-10%);
    cursor: pointer;
}
.frame49-2:hover{
    transform: translateY(-10%);
    cursor: pointer;

}
.frame49-3:hover{
    transform: translateY(-10%);
    cursor: pointer;

}
.frame49-1 a{
    text-decoration: none;
    color: var(--about-guide-text);
}
.frame49-2 a{
    text-decoration: none;
    color: var(--about-trophy-text);
} 
.frame49-3 a{
    text-decoration: none;
    color: var(--light-blue);
}  
.frame49-1 {
    display: flex;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0; 
    border-radius: 1.25rem;
    background: var(--gray);
    color: var(--about-guide-text);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.015rem; 
} 
.about .frame49-2 {
    display: flex;
    padding: 4rem 2rem;
    height: 12rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 1.25rem;
    background: var(--gray);
    color: var(--about-trophy-text);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.015rem; 
} 
.about .frame49-3 {
    display: flex;
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0; 
    border-radius: 1.25rem;
    background: var(--gray);
    color: var(--light-blue);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 166.667% */
    letter-spacing: 0.015rem; 
} 