
body {
    padding: 0;
}

.navbar {
    background: black;
    color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.navbar a {
    text-decoration: none;
}

.navbar-content {
    width: 100%;
    height: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: black;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.logo {
    width: 206.55px;
    height: 80px;
}

.navbar-links {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;
    display: flex;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}
.infobox {
    width: 2000%;
    position: absolute;
    left: -15vw;
    height: 10vh;
    background: var(--EKKSL-green2);
    display: flex;
    align-items: center;
    animation: infobox 20s linear infinite;
}

@keyframes infobox {
    0% {
        left: 0vw;
    }
    100% {
        left: -160vw;
    }
}

.infobox ul li {
    list-style-type: none;
    font-size: 3rem;
    align-items: center;
    line-height: 3rem;
    display: flex;
    position: relative;
    margin-right: 5rem;
}

.infobox ul li::before {
    position: relative;
    content: "\2022";
    font-size: 10rem;
    color: var(--gray);
    line-height: 3rem;
    padding-right: -6rem; 
}

.navbar2{
    width: 100%;
    height: 100%;
    background: black;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex
}
.navbar3{
    width: 871px;
    height: 890px;
     position: relative
}
.navbar4{
    width: 136px; 
    height: 136px; 
    left: 485px; 
    top: 240px; 
    position: absolute;
    background: var(--EKKSL-green2); 
    border-radius: 9999px
}
.navbar5{
    width: 871px;
    height: 890px;
    right: 32px; 
    top: 230px; 
    position: absolute;
}
.navbar6{
    width: 100%; 
    height: 100%; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 16px; 
    display: inline-flex;
    position: absolute;
    top: 560px;
    left: 169px;
}
.navbar7{
    align-self: stretch;
    text-align: center;
    color: var(--EKKSL-green3); 
    font-size: 96px; 
    font-family: Dosis; 
    font-weight: 700;
    word-wrap: break-word"
}
.navbar8{
    align-self: stretch; 
    text-align: center; 
    color: white;
     font-size: 48px; 
     font-family: Dosis; 
     font-weight: 700; 
     word-wrap: break-word
}

.colchange{
    width: 6vw;
    height: 2vh;
    background:  red;
    cursor: pointer;
}

