*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;}

body{
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    max-width: 1200px;

    color: white;
    background-color: transparent;
    text-align: left;
    width: 100%;
    font-size: 5rem;
}
#schedule {
    max-width: 1200px;
    margin: auto;
}
/*schedule day */
.schedule{
    padding-top: 5vh;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: left;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}
.schedule-small{
    background: var(--gray);
    margin-right: 3rem;
    border-radius: 2rem;
    width: 30vw;
    height: 10vh;
    max-height: 8rem;

    padding: 1.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.schedule-small:hover{
    background: var(--EKKSL-green2);
    animation: schehov 1s ease;
}
@keyframes schehov {
    0%{
        opacity: 0;
        padding-top: 1rem;
    }
    100%{
        opacity: 1;
        padding-top: 0;
    }
}
.schedule-small:hover h1{
    color: var(--gray);
}
.schedule-small h1{
    font-size: 2rem;
    text-align: center;
    color: var(--EKKSL-green5);
}
#selected-day{
    background: var(--EKKSL-green2);
    max-height: 8rem;
}
#selected-day h1{
    color: var(--gray)
}

/* top row of schedule */
.schedule-rowtop {
    margin-top: 2rem;
    height: 5rem;
    color: var(--EKKSL-green3);
    font-weight: 600;
    background: var(--gray);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding-left: 1rem;
    max-width: 1200px;
    margin: auto;

}
.schedule-rowtop h2{
    text-align: left;
    font-size: 2rem;
    max-width: 1200px;
        ;
}
/* schedule */
.schedule-row {
    margin-top: 2rem;
    height: 10rem;
    color: var(--gray);
    background: var(--EKKSL-beige);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding-left: 1rem;
    max-width: 1200px;
    margin: auto;
}
.schedule-row h2{
    text-align: left;
    font-size: 2rem;
}
#schedule-row2{
    background: var(--EKKSL-green5);
}
.schedule-line{
    width: 0.1%;
    background:black;
    height: 100%;
    opacity: 0.4;
}
.schedule-time{
    display: flex;
    justify-content:left;
    width: 25%;
}
.schedule-event{
    width: 49.6%;
    padding-right: 5%;
    padding-left: 1%;
}
.schedule-location a{
    text-decoration: none;
    color: var(--gray);
}
.schedule-location:hover img{
    transform: translateY(-10%);
    transform: scale(1.5);
    transition:  transform 0.5s ease;

}
.schedule-location a:hover {
    color: var(--EKKSL-green1);
}

.schedule-location{
    display: flex;
    justify-content:left;
    width: 25%;
    gap: 1rem;
    padding-left: 1rem;
}
.schedule-location img{
    width: auto;
    padding-left: 1rem;
}

/* day change*/
#day1{
    display: block;
}
#day2{
    display: none;
}
#day3{
    display: none;
}