/* showcase */
#showcase {
    background: #000;
    top: 0%;
    display: flex;
} 
#showcase img {
    max-width: 60.5%;
    height: auto;
}  
#showcase .showcase-content {
    position: absolute;
    right: 8.3%;
    top: 30%;
    
} 
#showcase h1 {
    color: #B6DE75;
    font-weight: 700;
    font-size: 79%;
    line-height: 100%;
    align-items: center;
} 
#showcase p {
    color: #ffffff;
    font-weight: 700;
    font-size: 39.3%;
    line-height: 50%;
    align-items: center;
} 

.first {
    -webkit-animation: bannermove 15s linear infinite;
       -moz-animation: bannermove 15s linear infinite;
        -ms-animation: bannermove 15s linear infinite;
         -o-animation: bannermove 15s linear infinite;
            animation: bannermove 15s linear infinite;
}
 
@keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-moz-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-webkit-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-ms-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
 
@-o-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2130px;}
}
