:root {
  --green: #b6de75;
  --whitish: #f4faea;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin-left: 8.3%;
  margin-right: 8.3%;
}
.sport-container {
    width: 1200px;
    height: 100%;
    padding-bottom: 64px;
    display: block;
    margin: auto;
}
.sport-text-container {
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}
.sport-text {
  text-align: right;
  color: #f4faea;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.16px;
  word-wrap: break-word;
}
.sport-section {
  width: 100%;
  height: 100%;
  background: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  display: inline-flex;
}
.sport-subsection {
  width: 1200px;
  height: 426px;
  position: relative;
}

.sport-card-first {
  height: 310px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 47px;
  padding-bottom: 47px;
  left: 0px;
  top: 45px;
  position: absolute;
  background: #1e1f21;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  display: inline-flex;
  width: 100%;
}

.sport-bullet-point {
  width: 16px;
  height: 16px;
  background: #b6de75;
  border-radius: 9999px;
}
.sport-card-title {
  width: 428px;
  color: #b6de75;
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}
