/* footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #303133;
    color: #fff;
} 
/* check space between lines? */
.contacts {
    margin: 5%
}
/* check horizontal alignment when adding the logo */
.logo {
    margin-right: 5%;
} 