* {
    margin: 0;
    box-sizing: border-box;
    align-items: center; 
}

body {
    background-color: #000000;
    margin-left: 8.3%;
    margin-right: 8.3%;
}

.title {
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}