* {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    background-color:var(--black) !important;
    overflow-x: hidden;
}

.title {
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
